/*css Reset*/
*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
/*css variables*/
:root{
    --navbar-height:5p9x;

}

/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

    /*Navigation Bar : logo and image*/
#logo{
    margin: 34px 45px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
    }
/*Navigation Bar :list styling*/

#navbar ul{
    display: flex;
    font-family: 'Ballo Bhai',cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ::before{
    content:"";
    background-color:black;
    position: absolute;
    height: 30%;
    width: 20%;
    z-index: -1;
    opacity: 0.4;
}
    
#navbar ul li a{
    color: black;
   display: block;
   padding: 2px 22px;
   border-radius: 20px;
   text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
   background-color:white;
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 619px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    position: absolute;
    background: url('../img/bg7.jpg') no-repeat center center/cover;
    height: 644px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree serif',serif;
}

#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree serif',serif;
}

/*services section*/
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
   }
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
 
#services.box p{
    font-family: 'Bree serif', serif;

}
/*clients section*/
#client-section::before{
    content: "";
    position: absolute;
    background: url(../img/bg1.jpg) no-repeat center center/cover;;
    width: 100%;
    height: 44%;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}.client-item{
    padding: 30px;
}
#clients img{
    height: 140px;
}

/*contact section*/
#contact{
    position: relative;


}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/bg6.jpg) no-repeat center center/cover;
    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-family: 'Bree serif',serif;
    font-size: 1.3rem;
    
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;

}

/*utility classes*/
.h-primary{
    font-family: 'Bree serif',serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
     font-family: 'Bree serif',serif;
     font-size: 2.1rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(252, 116, 122);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}


    
    

